/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root {
    --right-section-padding: 32px 64px;
    --bg-color: rgb(160, 180, 160);
    --glow: 0px 0px 4px 4px;
    height: 100%;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

:root, body {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: blue;
}

.main-content {
    grid-row: 2 / -1;
    background-color: gray;
}