/*Self-Hosted Fonts*/
@font-face {
  font-family: logo;
  src: url("assets/fonts/logo.woff2") format('woff2');
}

@font-face {
  font-family: open-sans;
  src: url("assets/fonts/opensans.woff2") format('woff2');
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
/*Variables*/
:root {
  --color-palette-dark: #9A8C98;
  --color-palette-lighter: #F2E9E4;
  --color-palette-light: #C9ADA7;
  --icon-size: 20px;
  --icon-margin: 16px;
  --pfp-size: 48px;
  --search-bar-height: 36px;
  --logo-size: 2.5rem;
  --container-padding: 16px 48px;
}

/*Main Container*/
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr 4fr;
}

/*Header Elements*/
.header {
  background-color: var(--color-palette-lighter);
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: fit-content 1fr;
  grid-template-columns: 1fr 320px; 
  box-shadow: 0px 2px 16px gray;
  z-index: 1;
}

.search {
  padding: var(--container-padding);
  display: flex;
  align-items: center;
}

.search {
  padding-right: 0;
}

.search img { 
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: var(--icon-margin);
}

.search-bar {
  flex: 0 1 800px; 
  background-color: white;
  height: var(--search-bar-height);
  padding: 1px calc(var(--search-bar-height) / 2); 
  display: flex;
  align-items: center;
  border-radius: var(--search-bar-height);
}

.search-bar > input {
  width: 100%;
  height: 100%; 
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.search-bar:focus-within {
  border: 1px solid gray;
}

.search-bar > input:focus {
  outline: 0;
}

/*Remove 'X' button from search input field*/
.search-bar > input::-webkit-search-cancel-button {  
  display: none;
}

/*Header Elements - Profile Area*/
.profile {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: var(--container-padding);
  font-family: open-sans, sans-serif;
  font-weight: bold;
  font-size: 1.25rem; 
}

.profile > [alt="bell icon"] { 
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: var(--icon-margin);
}

.profile [alt="profile picture"] {
  width: var(--pfp-size); 
  height: var(--pfp-size); 
  margin-right: var(--icon-margin);
  border-radius: 50%; 
}

/*Header Elements - User Area*/
.user {
  grid-column: 1 / -1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.user-info {
  padding: var(--container-padding);
  text-wrap: nowrap;
  font-family: open-sans, sans-serif;
  font-weight: bold;
  display: grid;
  grid-template-areas: 
  "pfp greeting"
  "pfp user";
  justify-content: left;
}

.user-info > img {
  grid-area: pfp;
  min-width: 92px; 
  height: 92px; 
  margin-right: var(--icon-margin);
  border-radius: 50%;
  align-self: center;
}

.user-info > span:nth-of-type(1) {
  grid-area: greeting;
  font-size: 0.8rem;
  align-self: end;
}

.user-info > span:nth-of-type(2) {
  grid-area: user;
  font-size: 1.5rem;
  text-wrap: stable;
  line-height: 1.25;
}

.user-controls {
  align-self: center;
  text-align: right;
  padding: var(--container-padding);
}

.user-controls button{
  width: 92px;
  height: 36px;
  border: 0;
  border-radius: 100vh;
  background-color: var(--color-palette-dark);
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: bold;
  margin: 4px;

}

button:hover {
  cursor: pointer;
}

/*Sidebar Elements*/
.sidebar {
  grid-row: 1 / -1;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  padding: var(--container-padding);
  gap: 64px;
}

.sidebar .logo {
  font-size: var(--logo-size);
  font-family: logo, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: var(--logo-size);
  margin-right: 8px;
}

.sidebar > nav ul {
  list-style: none;
  padding: 0;
  font-family: open-sans, sans-serif;
  font-size: 1.25rem;
  display: grid;
  gap: 24px;
}

.sidebar > nav img {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: var(--icon-margin);
}

.sidebar > nav li {
  display: flex;
  align-items: center;
}

/*Main Content Elements*/
.main-content {
  grid-row: 2 / -1;
  background-color: #C9ADA7;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-auto-flow: column;
}

.cards {
  background-color: rgb(226, 43, 202);
}

/*Main Content Elements - News Area*/
.news {
  background-color: var(--color-palette-light);
  display: grid;
  grid-template-rows: repeat(2, 48px min-content);
}

.news h2 {
  font-size: 1.25rem;
  font-family: open-sans, sans-serif;
  font-weight: bold;
  padding: 0 32px;
  align-self: end;
}

.announcements, 
.trending {
  background-color: white;
  margin: 8px 32px;
  border-radius: 8px;
  padding: 16px 32px;
}

.announcements {
  font-size: 0.7rem;
  font-family: open-sans, sans-serif;
  display: grid;
}

.announcements hr {
  margin: 8px 0px;
}

.trending {
  display: grid;
  gap: 16px;
}

.trending-entry {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: min-content 1fr;
  align-items: center;
  font-size: 0.8rem;
  font-family: open-sans, sans-serif;
}

.trending-entry img {
  min-width: var(--pfp-size);
  height: var(--pfp-size);
  margin-right: 8px;
  border-radius: 50%;
  grid-row: 1 / -1;
}

.trending-entry > span:nth-of-type(1) {
  align-self: end;
  font-weight: bold;
}

.trending-entry > span:nth-of-type(2) {
  align-self: start;
}