@font-face {
  font-family: logo;
  src: url("assets/fonts/logo.woff2") format('woff2');
}

@font-face {
  font-family: open-sans;
  src: url("assets/fonts/opensans.woff2") format('woff2');
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

/*Main Container*/
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr 4fr;
}

/*Header Elements*/
.header {
  grid-column: 2 / 3;
  background-color: white;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 1fr 360px;
}

.search {
  background-color: brown;
}

.profile {
  background-color: rgb(42, 165, 108);
}

.user {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(89, 42, 165);
}

.user-info {
  background-color: aqua;
}

.user-controls {
  background-color: rgb(251, 255, 0);
}

/*Sidebar Elements*/
.sidebar {
  grid-row: 1 / -1;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

ul {
  list-style: none;
}

.sidebar > * {
  padding: 32px 48px;
}

.sidebar .logo {
  font-size: 2.5rem;
  font-family: logo, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 2.5rem;
  margin-right: 8px;
}

.sidebar > nav ul {
  padding: 0;
  font-family: open-sans, sans-serif;
  font-size: 1.25rem;
  display: grid;
  gap: 24px;
}

.sidebar > nav img {
  width: 20px;
  height: 20px;
  margin-right: 16px;

}

.sidebar > nav li {
  display: flex;
  align-items: center;
}

/*Main Content Elements*/
.main-content {
  grid-row: 2 / -1;
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-auto-flow: column;
}

.cards {
  background-color: rgb(226, 43, 202);
}

.news {
  background-color: blueviolet;
}


