@font-face {
  font-family: logo;
  src: url("assets/logo.woff2") format('woff2');
}

@font-face {
  font-family: open-sans;
  src: url("assets/opensans.woff2") format('woff2');
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root {
    --right-section-padding: 32px 64px;
    --bg-color: rgb(160, 180, 160);
    --glow: 0px 0px 4px 4px;
    height: 100%;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

:root, body {
    height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  grid-column: 2 / 3;
  background-color: white;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 7fr 3fr;
}

.search {
  background-color: brown;
}

.profile {
  background-color: rgb(42, 165, 108);
}

.user {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  background-color: rgb(89, 42, 165);
}

.user-info {
  background-color: aqua;
}

.user-controls {
  background-color: rgb(251, 255, 0);
}

.sidebar {
  grid-row: 1 / -1;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
}

ul {
  list-style: none;
}

.sidebar .logo,
.sidebar nav {
  padding: 16px 15%;
}

.sidebar .logo {
  font-size: 2.5rem;
  font-family: logo, sans-serif;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 8px;
}

.sidebar ul {
  padding: 0;
  font-size: 1.5rem;
  display: grid;
  gap: 8px;
}

.main-content {
  grid-row: 2 / -1;
  background-color: gray;
}

